* {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    
}
body {
    background-color: rgb(200, 231, 255);
}
.main-body {
    display: flex;
    justify-content: center;
}
.calculator {
    border: 3px solid rgb(109, 89, 122); 
    background-color: rgb(53, 80, 112);
    width: 390px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.display {
    border: 1px solid rgb(109, 89, 122);
    background-color: rgb(200, 231, 255, 0.80);
    width: 360px;
    height: 100px;
    margin-bottom: 10px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 8px;  
}
.current-number {
    font-size: 46px;
}
.current-number, 
.previous-number {
    padding: 5px;
}
.display .previous-number {
    color: rgb(0, 0, 0, 0.65);
}
.controls {
    display: flex;
    width: 370px;
    height: 490px;
    flex-wrap: wrap;
}
button {
    width: 87.5px;
    height: 96px;
    border: none;
    margin: 2px;
    border: 1px solid rgb(109, 89, 122);
    font-size: 28px;
    border-radius: 5px;
}
button:hover {
    opacity: 0.8;
}
.number {
    background-color: rgb(232, 140, 125);
}
.button.equal {
    width: 179px;
    background-color: rgb(181, 101, 118);
}
.operator {
    background-color: rgb(234, 172, 139);
}
.reset,
.clear {
    background-color: rgb(229, 107, 111);
}