.calculator {
    border: 1px solid limegreen; 
    background-color: darkseagreen;
    width: 370px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    border: 1px solid greenyellow;
    background-color: azure;
    width: 350px;
    height: 100px;
    margin-bottom: 5px;
}
.interface {
    display: flex;
    border: 1px solid green;
    width: 350px;
    height: 480px;
    flex-wrap: wrap;
}
button {
    width: 87.5px;
    height: 96px;
    background-color: plum;
}
.button.equal {
    width: 175px;
    background-color: aquamarine;
}